.ant-form .ant-form-item {
  @inputBgc: transparent;
  @inputHeight: 47px;
  @minInputHeight: 30px;
  @textareaHeight: 170px;
  .default-input {
    box-shadow: none;
    width: 100%;
    border-radius: none;
    background-color: @inputBgc;
    height: @inputHeight;
    min-height: @minInputHeight;
    line-height: @inputHeight;
  }
  .default-input {
    background-color: @inputBgc;
    .ant-input, .ant-select-selector {
      background-color: @inputBgc;
    }
    .ant-input:-webkit-autofill {
      box-shadow: 0 0 0 1000px @inputBgc inset;
    }
    .ant-input:hover, input:focus {
      box-shadow: 0 0 0 1000px @inputBgc inset;
    }
    .ant-select-selector {
      border: none;
    }
    .ant-select-selector, .ant-select-selection-search-input, .ant-select-selection-placeholder, .ant-select-selection-item {
      line-height: @inputHeight;
      min-height: @minInputHeight;
      height: @inputHeight;
    }
  }
  .default-input.ant-input-textarea {
    height: @textareaHeight;
    overflow: hidden;
    textarea {
      border: none;
    }
  }
}

.ant-btn {
  &-warn {
    background-color: @yellow;
    border-color: @yellow;
    color: #fff;
    &:hover, &:focus {
      background-color: #e4bd67;
      color: #fff;
      border-color: #e4bd67;
    }
  }
}
